Alyssa Smith

Z1839851

CSCI 490/503: Assignment 3

Due Date: September 23th, 2021

In [1]:
import os
import json
from urllib.request import urlretrieve

# download the data if we don't have it locally
url = "http://faculty.cs.niu.edu/~dakoop/cs503-2021fa/a3/senate-stock-trades.json"
local_fname = "senate-stock-trades.json"
if not os.path.exists(local_fname):
    urlretrieve(url, local_fname)

data = json.load(open(local_fname));

**1. Owner Types**

In [2]:
# Using a set
names = set()
owner = set(names)

# iterate through list of elements, extract owner type
for o, owner in enumerate(data):
    names.add(data[o]['owner'])

In [3]:
# print out owner types, no duplicates
print(names)

{'Child', 'Spouse', 'Joint', 'Self'}

**2. Largest Transaction**

In [4]:
# Using a set
amount = set()
transaction = set(amount)

#max integer
max = 0

# Iterate through the list of elements 
for i, transaction in enumerate(data):
    # range for amount_range
    upper_bound = data[i]['amount_range'][1]
    lower_bound = data[i]['amount_range'][0]

    # If Upper bound of None
    if upper_bound == None:
        # money amount is lower bound
        money_amount = data[i]['amount_range'][0]
        # get senators name
        max_senator = data[i]['senator'] 
        break
    
    else:
        # else money amount is upper bound subtracted by lower bound
        money_amount = data[i]['amount_range'][1] - data[i]['amount_range'][0] 
    
    # if money amount is greater than the max then set it to lower bound
    if money_amount > max:
        money_amount = data[i]['amount_range'][0]
        # get senators name
        max_senator = data[i]['senator']

In [5]:
print("Most amount:", money_amount, " senator:", max_senator)

Most amount: 50000001  senator: James M Inhofe

**3. Transaction Counts**

In [6]:
# Create a dictionary
type_sale = {}

# Iterate through list elements
for key, value in enumerate(data):
    # if type has Sale (Full) or Sale (Partial)
    if data[key]['type'] == 'Sale (Full)' or data[key]['type'] == 'Sale (Partial)':
        # if senator does not have types then do not increment
        if data[key]['senator'] not in type_sale:
            type_sale[data[key]['senator']] = 1
            
        # else senator does have types then increment
        else:
            type_sale[data[key]['senator']] += 1

In [7]:
print(type_sale)

{'Shelley M Capito': 144, 'Sheldon Whitehouse': 219, 'Thomas H Tuberville': 109, 'Mark R Warner': 31, 'Thomas R Carper': 348, 'Christopher A Coons': 23, 'Roger W Marshall': 1, 'John Hoeven': 63, 'John W Hickenlooper': 4, 'Angus S King, Jr.': 46, 'Ron L Wyden': 40, 'Rick Scott': 22, 'John Boozman': 1, 'William F Hagerty, Iv': 4, 'Ladda Tammy Duckworth': 6, 'Daniel S Sullivan': 21, 'Jerry Moran,': 58, 'Patrick J Toomey': 92, 'James M Inhofe': 144, 'Susan M Collins': 61, 'Pat Roberts': 151, 'William Cassidy': 100, 'Kelly Loeffler': 180, 'Timothy M Kaine': 1, 'Ron Johnson': 2, 'David A Perdue , Jr': 1314, 'Roger F Wicker': 6, 'Tina Smith': 18, 'Lamar Alexander': 23, 'Roy Blunt': 4, 'Rafael E Cruz': 7, 'A. Mitchell Mcconnell, Jr.': 5, 'Gary C Peters': 11, 'Jacklyn S Rosen': 1, 'Thomas Udall': 2, 'John F Reed': 124, 'Thomas R Tillis': 99, 'John A Barrasso': 1, 'Robert P Casey, Jr.': 1, 'Robert J Portman': 9, 'Michael F Bennet': 2, 'Tammy Duckworth': 14, 'Patty Murray': 83, 'Steve Daines': 1, 'Chris Van Hollen': 7, 'John Cornyn': 1, 'Maria Cantwell': 1, 'Michael  B Enzi': 1, 'Mike Rounds': 1, 'Benjamin L Cardin': 1}

**4. Sales Sums**

In [17]:
# Create a dictionary
sale_sum = {}

# Iterate through list elements
for key, value in enumerate(data):
    # if type has Sale (Full) or Sale (Partial)
    if data[key]['type'] == 'Sale (Full)' or data[key]['type'] == 'Sale (Partial)':
        
        # if senator does not have types then do not increment
        if data[key]['senator'] not in sale_sum:
            sale_sum[data[key]['senator']] = data[key]['amount_range'][0], data[key]['amount_range'][1]
        
        # else senator does have types then increment
        else:
            # if amount range is None on Upper bound
            if data[key]['amount_range'][1] == None:
                sale_sum[data[key]['senator'][1]] = None
                sale_sum[data[key]['senator'][0]] = sale_sum[data[key]['senator']][0] + data[key]['amount_range'][0]
            
            # else add upper bound and lower bound
            else:
                sale_sum[data[key]['senator']] = sale_sum[data[key]['senator']][0] + data[key]['amount_range'][0], sale_sum[data[key]['senator']][1] + data[key]['amount_range'][1]

In [18]:
print(sale_sum)

{'Shelley M Capito': (312144, 2580000), 'Sheldon Whitehouse': (1500219, 6450000), 'Thomas H Tuberville': (684109, 2835000), 'Mark R Warner': (8291031, 31965000), 'Thomas R Carper': (1132348, 7105000), 'Christopher A Coons': (3058023, 6420000), 'Roger W Marshall': (250001, 500000), 'John Hoeven': (8899063, 34360000), 'John W Hickenlooper': (216004, 565000), 'Angus S King, Jr.': (235046, 1125000), 'Ron L Wyden': (1228040, 3095000), 'Rick Scott': (21750022, 91750000), 'John Boozman': (1001, 15000), 'William F Hagerty, Iv': (32004, 130000), 'Ladda Tammy Duckworth': (20006, 125000), 'Daniel S Sullivan': (634021, 1485000), 'Jerry Moran,': (100058, 975000), 'Patrick J Toomey': (779092, 3085000), 'James M Inhofe': (4763143, 11170000), 'Susan M Collins': (460061, 1800000), 'Pat Roberts': (2965151, 8200000), 'William Cassidy': (128100, 1570000), 'Kelly Loeffler': (33448180, 137220000), 'Timothy M Kaine': (1001, 15000), 'Ron Johnson': (5100002, 25250000), 'David A Perdue , Jr': (14816314, 52100000), 'Roger F Wicker': (48006, 195000), 'Tina Smith': (2047018, 4530000), 'Lamar Alexander': (2460023, 8200000), 'Roy Blunt': (53004, 145000), 'Rafael E Cruz': (161007, 415000), 'A. Mitchell Mcconnell, Jr.': (615005, 1250000), 'Gary C Peters': (39011, 235000), 'Jacklyn S Rosen': (15001, 50000), 'Thomas Udall': (2002, 30000), 'John F Reed': (180124, 2000000), 'Thomas R Tillis': (127099, 1555000), 'John A Barrasso': (50001, 100000), 'Robert P Casey, Jr.': (1001, 15000), 'Robert J Portman': (700009, 1650000), 'Michael F Bennet': (1000002, 2000000), 'Tammy Duckworth': (28014, 245000), 'Patty Murray': (83083, 1245000), 'Steve Daines': (15001, 50000), 'Chris Van Hollen': (35007, 175000), 'John Cornyn': (15001, 50000), 'Maria Cantwell': (1001, 15000), 'Michael  B Enzi': (1001, 15000), 'Mike Rounds': (5000001, 25000000), 'a': None, 'J': 54266124, 'Benjamin L Cardin': (50001, 100000)}

**5. Median Transaction by Ticker Symbol**

In [11]:
def get_ticker_median(median):
    # Using a list
    ticker_median = []
    
    # iterate through list elements
    for i, value in enumerate(data):
        
        if data[i]['ticker'] == median:
            ticker_median.append(data[i]['amount_range'])
    
        ticker_median.sort()
        index = len(ticker_median) / 2
        
        # if odd
        if len(ticker_median) % 2 != 0:
            return ticker_median[int(index)]
        
        # if even
        return(ticker_median[index - 1] + ticker_median[index]) / 2

In [13]:
print(get_ticker_median('AAPL'))

[1001, 15000]