Alyssa Smith

Z1839851

CSCI 490/503: Assignment 7

Due Date: November 22nd, 2021

**1a. [CSCI 490] Download & Extract Files**

In [237]:
import requests
import zipfile
from zipfile import ZipFile

In [238]:
# path to get fg_zip file
fg_url = 'http://faculty.cs.niu.edu/~dakoop/cs503-2021fa/a7/fg.zip'
fg_response = requests.get(fg_url)

# open the zip file and write the contents of the response from request
open("fg.zip", "wb").write(fg_response.content)

# read the zip file and extract all the files in fg.zip to a directory named data
with zipfile.ZipFile('fg.zip', 'r') as fg_zip:
    # extract zip file in local directory 
    fg_zip.extractall()

In [239]:
# path to get hij_zip file 
hij_url = 'http://faculty.cs.niu.edu/~dakoop/cs503-2021fa/a7/hij.zip'
hij_response = requests.get(hij_url)

open("hij.zip", "wb").write(hij_response.content)
    
with zipfile.ZipFile('hij.zip', 'r') as hij_zip:
    # extract zip file in local directory 
    hij_zip.extractall()

In [240]:
tu_url = 'http://faculty.cs.niu.edu/~dakoop/cs503-2021fa/a7/tu.zip'
tu_response = requests.get(tu_url)

open("tu.zip", "wb").write(tu_response.content)
    
with zipfile.ZipFile('tu.zip', 'r') as tu_zip:
    # extract zip file in local directory 
    tu_zip.extractall()

**2. Find Matching Files**

In [241]:
import os
from glob import glob

PATH = "data"
EXT = "*.csv"
all_csv_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]
print(all_csv_files)

['data/jefferson.csv', 'data/ulster.csv', 'data/g/greene.csv', 'data/g/genesee.csv', 'data/f/franklin.csv', 'data/f/fulton.csv', 'data/t/tompkins.csv', 'data/t/tioga.csv', 'data/h/herkimer.csv', 'data/h/hamilton.csv']

**3. Use Threads to Process Files**

In [377]:
import pandas as pd
import glob

path = 'data' # use your path

li = []

for filename in all_csv_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
0,Jefferson,West Carthage,2020,10,natural_gas,Total Consumption (T),Therms,-999.000,641.0
1,Jefferson,West Carthage,2020,10,natural_gas,Business Consumption (SC+O),Therms,-999.000,56.0
2,Jefferson,West Carthage,2020,10,natural_gas,Small Commercial Consumption (SC),Therms,9550.000,55.0
3,Jefferson,West Carthage,2020,10,natural_gas,Small Consumer Consumption (R+SC),Therms,35457.000,640.0
4,Jefferson,West Carthage,2020,10,natural_gas,Residential Consumption (R),Therms,25907.000,585.0
...,...,...,...,...,...,...,...,...,...
54155,Hamilton,Arietta,2019,10,electricity,Business Consumption (SC+O),MWh,29.177,55.0
54156,Hamilton,Arietta,2019,10,electricity,Small Consumer Consumption (R+SC),MWh,-999.000,644.0
54157,Hamilton,Arietta,2019,10,electricity,All Other Consumption (O),MWh,-999.000,1.0
54158,Hamilton,Arietta,2019,10,electricity,Small Commercial Consumption (SC),MWh,-999.000,54.0
54159,Hamilton,Arietta,2019,10,electricity,Residential Consumption (R),MWh,156.931,590.0

In [280]:
import numpy as np

f = frame[frame['data_class'] == 'electricity'].replace(-999.000, np.nan)
f

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
8,Jefferson,West Carthage,2020,10,electricity,Total Consumption (T),MWh,NaN,918.0
9,Jefferson,West Carthage,2020,10,electricity,Business Consumption (SC+O),MWh,NaN,80.0
10,Jefferson,West Carthage,2020,10,electricity,Small Commercial Consumption (SC),MWh,246.554,73.0
11,Jefferson,West Carthage,2020,10,electricity,Small Consumer Consumption (R+SC),MWh,673.230,911.0
12,Jefferson,West Carthage,2020,10,electricity,Residential Consumption (R),MWh,426.676,838.0
...,...,...,...,...,...,...,...,...,...
54155,Hamilton,Arietta,2019,10,electricity,Business Consumption (SC+O),MWh,29.177,55.0
54156,Hamilton,Arietta,2019,10,electricity,Small Consumer Consumption (R+SC),MWh,NaN,644.0
54157,Hamilton,Arietta,2019,10,electricity,All Other Consumption (O),MWh,NaN,1.0
54158,Hamilton,Arietta,2019,10,electricity,Small Commercial Consumption (SC),MWh,NaN,54.0
54159,Hamilton,Arietta,2019,10,electricity,Residential Consumption (R),MWh,156.931,590.0

In [291]:
frames = [frame, f]
  
result = pd.concat(frames)
display(result)

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
0,Jefferson,West Carthage,2020,10,natural_gas,Total Consumption (T),Therms,-999.000,641.0
1,Jefferson,West Carthage,2020,10,natural_gas,Business Consumption (SC+O),Therms,-999.000,56.0
2,Jefferson,West Carthage,2020,10,natural_gas,Small Commercial Consumption (SC),Therms,9550.000,55.0
3,Jefferson,West Carthage,2020,10,natural_gas,Small Consumer Consumption (R+SC),Therms,35457.000,640.0
4,Jefferson,West Carthage,2020,10,natural_gas,Residential Consumption (R),Therms,25907.000,585.0
...,...,...,...,...,...,...,...,...,...
54155,Hamilton,Arietta,2019,10,electricity,Business Consumption (SC+O),MWh,29.177,55.0
54156,Hamilton,Arietta,2019,10,electricity,Small Consumer Consumption (R+SC),MWh,NaN,644.0
54157,Hamilton,Arietta,2019,10,electricity,All Other Consumption (O),MWh,NaN,1.0
54158,Hamilton,Arietta,2019,10,electricity,Small Commercial Consumption (SC),MWh,NaN,54.0
54159,Hamilton,Arietta,2019,10,electricity,Residential Consumption (R),MWh,156.931,590.0

In [403]:
df2019 = result[result['year'] == 2019]
df2019

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
220,Jefferson,West Carthage,2019,12,natural_gas,CCA-Ineligible Customer Count (SC),count,17.000,0.0
221,Jefferson,West Carthage,2019,12,natural_gas,CCA-Ineligible Customer Count (R),count,106.000,0.0
222,Jefferson,West Carthage,2019,12,natural_gas,Total Consumption (T),Therms,93317.000,541.0
223,Jefferson,West Carthage,2019,12,natural_gas,Business Consumption (SC+O),Therms,16595.000,41.0
224,Jefferson,West Carthage,2019,12,natural_gas,Small Consumer Consumption (R+SC),Therms,93317.000,541.0
...,...,...,...,...,...,...,...,...,...
54155,Hamilton,Arietta,2019,10,electricity,Business Consumption (SC+O),MWh,29.177,55.0
54156,Hamilton,Arietta,2019,10,electricity,Small Consumer Consumption (R+SC),MWh,NaN,644.0
54157,Hamilton,Arietta,2019,10,electricity,All Other Consumption (O),MWh,NaN,1.0
54158,Hamilton,Arietta,2019,10,electricity,Small Commercial Consumption (SC),MWh,NaN,54.0
54159,Hamilton,Arietta,2019,10,electricity,Residential Consumption (R),MWh,156.931,590.0

In [404]:
df2019 = df2019.to_csv('2019.csv.gz', compression='gzip', index = 0)

df = pd.read_csv('2019.csv.gz', index_col=None, header=0)
df

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
0,Jefferson,West Carthage,2019,12,natural_gas,CCA-Ineligible Customer Count (SC),count,17.000,0.0
1,Jefferson,West Carthage,2019,12,natural_gas,CCA-Ineligible Customer Count (R),count,106.000,0.0
2,Jefferson,West Carthage,2019,12,natural_gas,Total Consumption (T),Therms,93317.000,541.0
3,Jefferson,West Carthage,2019,12,natural_gas,Business Consumption (SC+O),Therms,16595.000,41.0
4,Jefferson,West Carthage,2019,12,natural_gas,Small Consumer Consumption (R+SC),Therms,93317.000,541.0
...,...,...,...,...,...,...,...,...,...
296395,Hamilton,Arietta,2019,10,electricity,Business Consumption (SC+O),MWh,29.177,55.0
296396,Hamilton,Arietta,2019,10,electricity,Small Consumer Consumption (R+SC),MWh,NaN,644.0
296397,Hamilton,Arietta,2019,10,electricity,All Other Consumption (O),MWh,NaN,1.0
296398,Hamilton,Arietta,2019,10,electricity,Small Commercial Consumption (SC),MWh,NaN,54.0
296399,Hamilton,Arietta,2019,10,electricity,Residential Consumption (R),MWh,156.931,590.0

In [405]:
group = df.groupby('county_name').size()
group

county_name
Franklin     31752
Fulton       20232
Genesee      28680
Greene       28128
Hamilton     14112
Herkimer     41352
Jefferson    54816
Tioga        19056
Tompkins     22248
Ulster       36024
dtype: int64

In [406]:
df2020 = result[result['year'] == 2020]
display(df2020)

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
8,Jefferson,West Carthage,2020,10,electricity,Total Consumption (T),MWh,NaN,918.0
9,Jefferson,West Carthage,2020,10,electricity,Business Consumption (SC+O),MWh,NaN,80.0
10,Jefferson,West Carthage,2020,10,electricity,Small Commercial Consumption (SC),MWh,246.554,73.0
11,Jefferson,West Carthage,2020,10,electricity,Small Consumer Consumption (R+SC),MWh,673.230,911.0
12,Jefferson,West Carthage,2020,10,electricity,Residential Consumption (R),MWh,426.676,838.0
...,...,...,...,...,...,...,...,...,...
54113,Hamilton,Arietta,2020,1,electricity,Business Consumption (SC+O),MWh,23.992,54.0
54114,Hamilton,Arietta,2020,1,electricity,Small Consumer Consumption (R+SC),MWh,NaN,642.0
54115,Hamilton,Arietta,2020,1,electricity,All Other Consumption (O),MWh,NaN,1.0
54116,Hamilton,Arietta,2020,1,electricity,Small Commercial Consumption (SC),MWh,NaN,53.0
54117,Hamilton,Arietta,2020,1,electricity,Residential Consumption (R),MWh,192.994,589.0

In [407]:
df2020 = df2020.to_csv('2020.csv.gz', compression='gzip', index = 0)

df = pd.read_csv('2020.csv.gz', index_col=None, header=0)
df

,county_name,com_name,year,month,data_class,data_field_display_name,unit,value,number_of_accounts
0,Jefferson,West Carthage,2020,10,electricity,Total Consumption (T),MWh,NaN,918.0
1,Jefferson,West Carthage,2020,10,electricity,Business Consumption (SC+O),MWh,NaN,80.0
2,Jefferson,West Carthage,2020,10,electricity,Small Commercial Consumption (SC),MWh,246.554,73.0
3,Jefferson,West Carthage,2020,10,electricity,Small Consumer Consumption (R+SC),MWh,673.230,911.0
4,Jefferson,West Carthage,2020,10,electricity,Residential Consumption (R),MWh,426.676,838.0
...,...,...,...,...,...,...,...,...,...
488763,Hamilton,Arietta,2020,1,electricity,Business Consumption (SC+O),MWh,23.992,54.0
488764,Hamilton,Arietta,2020,1,electricity,Small Consumer Consumption (R+SC),MWh,NaN,642.0
488765,Hamilton,Arietta,2020,1,electricity,All Other Consumption (O),MWh,NaN,1.0
488766,Hamilton,Arietta,2020,1,electricity,Small Commercial Consumption (SC),MWh,NaN,53.0
488767,Hamilton,Arietta,2020,1,electricity,Residential Consumption (R),MWh,192.994,589.0

In [408]:
group = df.groupby('county_name').size()
group

county_name
Franklin     59584
Fulton       33600
Genesee      42560
Greene       46144
Hamilton     26880
Herkimer     69440
Jefferson    89600
Tioga        31360
Tompkins     33600
Ulster       56000
dtype: int64